name: Build & Test

on:
  push:
    branches: [ main]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: | 
          8.0.x
          9.0.x
          10.0.x

    - name: Restore dependencies
      run: dotnet restore Routya.Test/Routya.Test.csproj

    - name: Run tests
      run: dotnet test Routya.Test/Routya.Test.csproj --configuration Release --verbosity normal
